div.menu, div.popup {
    background-color: rgb(27, 27, 27);

    position: fixed;
    z-index: 1000;
    overflow: auto;

    display: flex;
    flex-direction: column;

    border-color: rgb(27, 27, 27);
    border-style: solid;
    padding-right: 8px;
    border-width: 10px;
    border-radius: 10px;    
}

div.scenes__menu {
    height: 300px;
    width: 250px;

    top: 400px;
    left: 10px;
}

div.popup {
    height: 150px;
    width: 300px;

    top: 400px;
    left: 400px;
}

.THE__button {
    color: white;
    background-color: rgb(63, 63, 63);
}

div.popup p {
    margin: 0px;
}

div.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.popup__content h2 {
    margin: 10px auto;    
    color: white;
}

div.popup__content button {
    padding: 10px 15px;
}

div.popup__content label {
    color: white;
}

.errorMessage  {
    color: red;
}

.successMessage {
    color: greenyellow;
}

div.popup__content.popup__popup__buttons_and_form {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

div.spawner__menu {
    height: 300px;
    width: 250px;

    top: 30px;
    left: 10px;
}


div.dates__menu {
    height: 300px;
    width: 250px;

    top: 30px;
    right: 10px;
}

button {
    background-color: white;
    font-size: 16px;

    margin: 5px;
    
    padding: 10px 0px;
    
    border-style: none;
    border-radius: 10px;

    cursor: pointer;
}

button:hover {
    background-color: rgb(168, 168, 168);
}

button:active {
    background-color: rgb(226, 226, 226);
}